# Node
node_modules/
dist/
build/
.env

# Go
/backend/api
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out

# React Native / Expo
.expo/
.expo-shared/
web-build/
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*

# OS
.DS_Store
Thumbs.db
